*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    background-color:#ebebeb ;
}

header div.logo,
header .form{
    width: 50%;
}

header nav{
    display: none;
    font-size: 12px;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
     width: 10%;
}

header div.cabecera{
    display: flex;
    flex-wrap: wrap;
}    

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}


header{
    background-color:#EAC926;
}

h3{
    font-size: 24px;
    color: #666;
}

h4{
    font-size: 16px;
}

p{
    font-size: 12px;
}

.precio{
    font-size: 16px;
}

.descuento{
    font-size: 14px;
    color: #39b54a;
}

.descripcion{
    display: none;
    font-size: 16px;
    color: #666;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: white;
    margin-bottom: 10px;
}

main section article i{
    display: block;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    font-size: 16px;
    padding: 4px;
    width: 30px;
    height: 30px;
    background-color: #FFF;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin:20px 0px;
}

.menu-articulo{
    margin: 10px 0px;
    padding: 15px;
}

main section article img{
    width: 100%;

}

article div.menu-articulo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

div.productos{
    display: flex;
    flex-wrap: wrap;
}

.precio{
    font-size: 18px;
    width: 30%;
}

.descuento{
    width: 70%;
}

div.ultima-visitva,
div.ofertas{
    display: flex;
    flex-wrap: wrap;
}

main section div.productos article i{
    transition: transform 1s;
}

main section div.productos article:hover i{
    transform: rotateZ(-90deg);
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100,100,100);
}

main section article:hover .descripcion{
    display: block;
}

.login input[type="sumbit"]:hover,
.register input[type="submit"]:hover{
    background-color: #0022AA;
}

div.credit-card i,
div.gift i,
div.shield i{
    color: #0044AA;
    font-size: 2em;
    margin: 10px;
}

div.gift,
div.credit-card,
div.shield{
    text-align: center;
}

footer{
    width: 90%;
    margin: 0px auto;
}

div.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    text-align: center;
    margin-top: 20px;
    background-color: white;
}

footer section article{
    background-color: white;
    width:250px;
}

article div.informacion-ad{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}


footer section article div.credit-card:hover i{
    color: #EAC926;
}

footer section article div.gift:hover i{
    color: #EAC926;
}

footer section article div.shield:hover i{
    color: #EAC926;
}

@media (min-width: 361px){
    main section div.productos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.productos article{
        width: 45%;
    }
    
    .precio,.descuento{
        width: 50%;
    }
    
    footer section div.pie{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        text-align: center;
    }
}

@media (min-width: 769px){
    main section div.productos article{
        width: 22%;
    }
        
    header nav{
        display: block;
    }

    .burger-menu{
        display: none;
    }

    .listas{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .lista1{
        display: flex;
        justify-content: space-evenly; 
        width: 50%;
        padding: 10px;    
    }

    .lista2{
        display: flex;
        justify-content: space-evenly;
        flex-direction: row-reverse;
        width: 50%;
        padding: 10px;    
    }
}