*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "roboto", sans-serif;
    background-color:#ebebeb ;
}

header div.logo{
    width: 50%;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
    margin: 2%;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 5%;
    margin: 2%;
}

header{
    background-color:#EAC926;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 16px;
}

p{
    font-size: 12px;
}

.precio{
    font-size: 18px;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
}

.descripcion{
    font-size: 16px;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    color: #FFF;
    border-radius: 5px;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: white;
}

main section article i{
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    font-size: 16px;
    padding: 4px;
}

.productos{
    border: 1px solid #ebebeb;
    margin: 10px 0px;
    padding: 15px;
}



main section article img{
    width: 100%;
    border-bottom: 2px solid #ebebeb;
}



div.credit-card{
    text-align: center;
}

div.credit-card i{
    color: #0044AA;
}

div.gift{
    text-align: center;
}

div.gift i{
    color: #0044AA;
}
div.shield{
    text-align: center;
}

div.shield i{
    color: #0044AA;
}

@media(max-width: 361px){
    .descripcion{display:none;
}}
